body{
    margin: 0;
    padding: 0;
    background-color: rgb(163, 199, 175);

}
header{
    width: 100%;
    background-color:  rgb(163, 199, 175);
    color: rgb(8, 8, 8);
    display: flex;

}
.logo{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    font-weight:20px ;
    font-weight: bold;
    padding: 20px;
    margin-top: 10px;
    margin-left: 10px;
    transform: rotate(-10deg);
    }
.menue{
    display: flex;
    justify-content: center;
    align-items: center;

}

.menue ul{
    list-style: none;
}
.menue ul li{
    background-color:rgb(163, 199, 175) ;
     width: 170px;
    height: 50px;
    border: 2px solid rgb(163, 199, 175);
   text-align: center;
    float: left ;
    font-size: 23px;
    font-weight: bold;
    text-transform: uppercase;
    position: relative;
    line-height: 50px;
}
.menue ul li a{
    text-decoration: none;
    color: black;
    text-align: center;
    justify-content: center;
}
.menue ul ul{
    display: none;
    transition: all ease-in 0.5s;
}
.menue ul li a:hover{
    color: rgb(235, 7, 7);
}
.menue ul li a:hover{
    color:rgb(235, 7, 7) ;
}
.menue ul li:hover > ul{
    display: block;
}
.about{
    margin-top: 100px;
    margin-left: 60px;

}

.p{
    font-size: 25px;
    margin-top: 100px;
    margin-left:0;


}
h1{
    font-size: 40px;
    font-weight: bold;
}
span{
    color: brown;

}
.image{
width: 20%;
height: 20%;
margin: 10px auto;
left: 0;
}
.fixed{
    right: 0;
    bottom: 0;
    position: fixed;
    font-size: 25px;
}